*{
    margin:0px;
    padding:0px;
}
body{
    background-color:#e9ebee;
}
.grid{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 20% 20% 20% 1fr;
    grid-template-rows: 10% 75% 15%;
    grid-template-areas:
    "header-fill-left header header menubar header-fill-right"
    ". content content content ."
    "footer-fill-left footer footer footer footer-fill-right";
}
#header{
    background-color: #467F6E;
    grid-area: header;
    display: grid;
    min-height: 5em;
    
    color: white;
    grid-column: 1fr 1fr;
    grid-template-areas:
    "logo header-text"
}
#header-fill-left{
    display:grid;
    background-color: #467F6E;
    grid-area: header-fill-left;
}
#header-fill-right{
    display:grid;
    background-color: #467F6E;
    
    grid-area: header-fill-right;
}
#menubar{
    background-color: #467F6E;
    grid-area: menubar;
    display:grid;
    min-height: 5em;
}
#content{
    grid-area: content;
    min-height: 40.5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "search-input"
    "options"
    "search-btn";
}
#footer{
    background-color: #717F7B;
    grid-area:footer;
    min-height: 10em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "Our-Mission . Connect-With-Us";
}
#footer-fill-left{
    display:grid;
    background-color:#717F7B;
    grid-area: footer-fill-left;
}
#footer-fill-right{
    display:grid;
    background-color:#717F7B;
    grid-area: footer-fill-right;
}
#button-loc{
    width: 16em;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 5px;
    line-height: 30px;
}
.menu-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    width:75px;
    height: 35px;
    background-color: #467F6E;
    border-style: solid;
    border-color: #467F6E;
    border-width:1px;
    border-radius: 5px;
}
#sign-up-menu{
    width: 90px;
}
.current-page{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    width:75px;
    height: 35px;
    border-style: solid;
    border-color: #467F6E;
    border-width:1px;
    border-radius: 5px;
    background-color: #717F7B;
    pointer-events: none;
}

#footer-fill-left{
    display:grid;
    background-color:#717F7B;
    grid-area: footer-fill-left;
}
#footer-fill-right{
    display:grid;
    background-color:#717F7B;
    grid-area: footer-fill-right;
}
#button-loc{
    width: 16em;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 5px;
    line-height: 30px;
}
.menu-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    width:75px;
    height: 35px;
    background-color: #467F6E;
    border-style: solid;
    border-color: #467F6E;
    border-width:1px;
    border-radius: 5px;
}
.current-page{
    background-color: #717F7B;
    pointer-events: none;
}

/*Specific Page Styling*/

#content input{
    margin: 1em;
    font-size: 30pt;
    grid-area: search-input;
}

#search-btn-loc{
    font-size: 30pt;
    grid-area: search-btn;
    
}
#search-btn-loc button{
    font-size: 20pt;
    border-radius: 5px;
    color: white;
    border-color: #467F6E;
    background-color: #467F6E;
}
#location-btn{
    width: 50px;
    height: 50px;
}
#advanced-options{
    grid-area: options;
    min-height: 2em;
    padding: 1em;
}

#advanced-options select{
    font-size: 12pt;
}

#advanced-options i{
    color: #467F6E;
    
}

#advanced-options h4{
    font-size: 16pt;
    margin-bottom: 10px;
}
#advanced-options p{
    font-size: 14pt;
    padding: 5px;
}

/*Standard page stuff*/
#logo-elements{
    grid-area:logo;
}
#header-text{
    grid-area: header-text;
    margin: auto;
}
#Our-Mission-Text{
    width: 215px;
    grid-area: Our-Mission;
    color:white;
}
#connect-with-us{
    color: white;
    align-content: end;
    vertical-align: top;
    grid-area: Connect-With-Us;
}
@media only screen and (max-width: 1263px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-areas:
        ". header header menubar ."
        ". content content content ."
        ". footer footer footer .";
    }
}
@media only screen and (max-width:950px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-areas:
        "header header header menubar menubar"
        "content content content content content"
        "footer footer footer footer footer";
    }
}
@media only screen and (max-width:740px){

    .grid{
        display: grid;
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-areas:
        "header header header header header"
        "menubar menubar menubar menubar menubar"
        "content content content content content"
        "footer footer footer footer footer";
    }

    #other{
        margin-bottom: auto;
        margin-top: auto;
    }
    #content{
        grid-area: content;
        min-height: 40em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "other"
        "registation";
    }
    #footer{
        background-color: #717F7B;
        grid-area:footer;
        min-height: 10em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "Our-Mission Connect-With-Us";
    }
}

