/* Core Elements */
*{
    margin:0px;
    padding:0px;
}
body{
    background-color:#e9ebee;
}
.grid{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 20% 20% 20% 1fr;
    grid-template-rows: 10% 75% 15%;
    grid-template-areas:
    "header-fill-left header header menubar header-fill-right"
    "filter-bar filter-bar filter-bar filter-bar filter-bar"
    ". content content content ."
    " footer footer footer footer footer";
}

#header{
    background-color: #467F6E;
    grid-area: header;
    display: grid;
    min-height: 7.5em;
    
    color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo header-text"
}
#header-fill-left{
    display:grid;
    background-color: #467F6E;
    grid-area: header-fill-left;
}
#header-fill-right{
    display:grid;
    background-color: #467F6E;
    
    grid-area: header-fill-right;
}
#menubar{
    background-color: #467F6E;
    grid-area: menubar;
    display:grid;
    min-height: 7.5em;
}

#content{
    grid-area: content;
    min-height: 44.5em;
    display: grid;
    
    /*background-color: #D7FFF3;*/
    grid-template-columns: 1fr;
    grid-template-areas:
    "results map"
}

#footer{
    background-color: #717F7B;
    grid-area:footer;
    min-height: 7.5em;
    display: grid;
    grid-template-columns:1fr 20% 20% 20% 1fr;
    grid-template-areas:
    ". Our-Mission . Connect-With-Us .";
}

#button-loc{
    width: 16em;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 5px;
    line-height: 30px;
}
.menu-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    width:75px;
    height: 35px;
    background-color: #467F6E;
    border-style: solid;
    border-color: #467F6E;
    border-width:1px;
    border-radius: 5px;
}
#sign-up-menu{
    width: 90px;
}
.current-page{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    width:75px;
    height: 35px;
    background-color: #717F7B;
    border-style: solid;
    border-color: #467F6E;
    border-width:1px;
    border-radius: 5px;
    border-width:1px;
    pointer-events: none;
}
.center-items{
    margin-top: auto;
    margin-bottom: auto;
}
#logo-elements{
    grid-area:logo;
    margin:10px;
}
#header-text{
    grid-area: header-text;
    margin: auto;
}
#Our-Mission-Text{
    grid-area: Our-Mission;
    color:white;
}
#connect-with-us{
    color: white;
    vertical-align: top;
    grid-area: Connect-With-Us;
}
/*filter bars and options*/
#filter-bar{
    /* background-color: #EEECE9; */
    background-color: #C2D0D7;
    /* background-color: #B7B9BB; */
    /* background-color: #BBAEA4; */

    grid-area: filter-bar;
    display: grid;
    padding: 1em;
    grid-template-columns:1fr 30% 30% 1fr;
    grid-template-areas:
    ". sortBy filter-location  .";
}

#sortBy{
    margin-top: 5px;
    margin-bottom: 10px;
    display:grid;
    grid-area: sortBy;
}
#filter-location{
    margin-top: 5px;
    margin-bottom: 10px;
    display:grid;
    grid-area : filter-location;
}
.sortByButton{
    height: 30px;
    width: 75px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 10px;
    background-color: #98C3CB;
    border-style: solid;
    border-width: 1px;
    border-color: gold;
}

/*content search results*/

#map-sidebar{    
    display:grid;
    grid-area: map-sidebar;
    min-height: 40em;
    display: grid;
}

.map{
    width: 190px;
    height: 190px;
    display: grid;
    grid-area: map;
}

.location-info{
    display: grid;
    grid-area: location-info;
    min-height:5em;
}

/*list of search results*/
#results{
    grid-area: results;
    display: grid;
    min-height: 40em;
    margin: 1em;
}

.item-box{
    border: #38737F;
    border-width: 2px;
    border-spacing: 1em;
    border-style: solid;
    padding: 1em;
    margin-bottom: 10px;
    
    min-height: 6em;
    min-width: 20em;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
    "map location-info";
}
.wifiName{
    color: #38737F;
}
.wifiName a{
    color: inherit;
}
.rating i{
    color: #70CCB1;
}


@media only screen and (max-width: 1263px){
    .grid{
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-areas:
        "header-fill-left header header menubar header-fill-right"
        "filter-bar filter-bar filter-bar filter-bar filter-bar"
        "content content content content content"
        "footer footer footer footer footer";
    }
    #filter-bar{
        /* background-color: #EEECE9; */
        /* background-color: #C2D0D7; */
        /* background-color: #B7B9BB; */
        /* background-color: #BBAEA4; */
    
        grid-template-columns:1fr 1fr;
        grid-template-areas:
        "sortBy filter-location";
    }

    #footer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "Our-Mission .  Connect-With-Us ";
    }
}
@media only screen and (max-width:950px){
    .grid{
        grid-template-areas:
        "header header header menubar menubar"
        "filter-bar filter-bar filter-bar filter-bar filter-bar"
        "content content content content content"
        "footer footer footer footer footer";
    }
}
@media only screen and (max-width:740px){

    .grid{
        grid-template-areas:
        "header header header header header"
        "menubar menubar menubar menubar menubar"
        "filter-bar filter-bar filter-bar filter-bar filter-bar"
        "content content content content content"
        "footer footer footer footer footer";
    }
    #menubar{
        min-height: 3.5em;
    }
    #filter-bar{
        grid-template-columns:65% 1fr;
    }
    #filter-location{
        justify-content: right;
    }
    .map{
        width: 100px;
        height: 100px;
    }
    .item-box{
        grid-template-columns: 110px 1fr;
        padding: 0em;
    }
}
@media only screen and (max-width:550px){

    #filter-bar{
        /* background-color: #EEECE9; */
        /* background-color: #C2D0D7; */
        /* background-color: #B7B9BB; */
        /* background-color: #BBAEA4; */
    
        grid-template-columns:1fr;
        grid-template-areas:
        "sortBy"
        "filter-location";
    }

    #header{
        grid-template-columns: 1fr;
        grid-template-areas:
        "header-text";
        min-height: 4em;
    }

    #sortBy{
        justify-content: center;
    }
    
    .sortByButton{
        margin-left: 0.15em;
        margin-right: 0.15em;
    }

    #footer{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "Our-Mission Connect-With-Us ";
    }

    #header-text{
       text-align: center;
    }

    #logo-elements{
        grid-area:logo;
        display: none;
    }

    #filter-location{
        justify-content: center;
    }
}


