/*basic grid setup*/
*{
    margin:0px;
    padding:0px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 10% 30% 30% 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header-left header header header header-right"
    "filter-bar filter-bar filter-bar filter-bar filter-bar"
    "content-fill-left content-left content-left content-left content-fill-right"
    "footer footer footer footer footer";
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
#header{
    background-color: #38737F;
    grid-area: header;
    display: grid;
    min-height: 5em;
}
#header-text{
    text-align: left;
    font-size: 20pt;
    display: grid;
    grid-area: header;
}

#header-left{
    background-color: #38737F;
    grid-area: header-left;
    display: grid;
    min-height: 5em;
}
#header-right{
    background-color: #38737F;
    grid-area: header-right;
    display: grid;
    min-height: 5em;
}
/*filter bars and options*/
#filter-bar{
    background-color: #5F7A7F;
    grid-area: filter-bar;
    display: grid;
    padding: 1em;
    text-align: center;    
}

.filter-options a {
    background-color: #38737F;
    margin-left: 10em;
    border-width: 2px;
    border-color: white;
}

/*content search results*/
#content-fill-right{
    background-color: #BDF3FF;
    grid-area: content-fill-left; 
}

#content-fill-left{
    background-color: #BDF3FF;
    grid-area: content-fill-right; 
}
#content-right{    
    background-color: #BDF3FF;
    grid-area: content-right;
    min-height: 40em;
    display: grid;
    
}
#content-left{
    background-color: #BDF3FF;
    grid-area: content-left;
    min-height: 40em;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    
}
/*list of search results*/
#results{
    grid-area: content-left;
    display: grid;
    min-height: 40em;
    margin: 1em;
}

.item_box{
    background-color: #BDF3FF;
    border: #38737F;
    border-width: 2px;
    border-spacing: 1em;
    border-style: solid;
    padding: 1em;

    min-height: 6em;
    min-width: 20em;
    text-align: center;
    display: grid;
    grid-area: content-left;
}

.item-box h2{
    padding: 4px;
}

.item-box h3{
    padding: 4px;
}

/*search box*/
#search-boxes{ 
   grid-template-areas: "search-box";
   margin: 4em;
   margin-top: 5em;
}


#search-boxes input{
    font-size: 3em;
    text-align: left;
    
}

#search-boxes button{
    font-size: 2em;
    border-width: 2px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color: #38737F;
    grid-area: search-box;
    margin: 0.2em;
}


/*footer*/
#footer{
    background-color: #5F7A7F;
    grid-area: footer;
    min-height: 10em;
    font-size: 8pt;
    text-align: center;
}



@media only screen and (max-width: 1263px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-areas:
        ". header header menubar ."
        ". content content content ."
        ". footer footer footer .";
    }
}
@media only screen and (max-width:950px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-areas:
        "header header header menubar menubar"
        "content content content content content"
        "footer footer footer footer footer";
    }
}
@media only screen and (max-width:740px){

    .grid{
        display: grid;
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-areas:
        "header header header header header"
        "menubar menubar menubar menubar menubar"
        "content content content content content"
        "footer footer footer footer footer";
    }

    #other{
        margin-bottom: auto;
        margin-top: auto;
    }
    #content{
        background-color: green;
        grid-area: content;
        min-height: 40em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "other"
        "registation";
    }
}


