<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument enabled="true">
            <files>
                <remove value="index.html" />
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="Registration_Page.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
