*{
    margin:0px;
    padding:0px;
}
body{
    background-color:#e9ebee;
}
.grid{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 20% 20% 20% 1fr;
    grid-template-rows: 10% 75% 15%;
    grid-template-areas:
    "header-fill-left header header menubar header-fill-right"
    ". content content content ."
    "footer footer footer footer footer";
}
#header{
    background-color: #467F6E;
    grid-area: header;
    display: grid;
    min-height: 7.5em;
    
    color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo header-text"
}
#header-fill-left{
    display:grid;
    background-color: #467F6E;
    grid-area: header-fill-left;
}
#header-fill-right{
    display:grid;
    background-color: #467F6E;
    
    grid-area: header-fill-right;
}
#menubar{
    background-color: #467F6E;
    grid-area: menubar;
    display:grid;
    min-height: 7.5em;
}
#content{
    grid-area: content;
    min-height: 44.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". logout .";
}
#footer{
    background-color: #717F7B;
    grid-area:footer;
    min-height: 7.5em;
    display: grid;
    grid-template-columns: 1fr 20% 20% 20% 1fr;
    grid-template-areas:
    ". Our-Mission . Connect-With-Us .";
}


#button-loc{
    width: 16em;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 5px;
    line-height: 30px;
}
.menu-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    width:75px;
    height: 35px;
    background-color: #467F6E;
    border-style: solid;
    border-color: #467F6E;
    border-width:1px;
    border-radius: 5px;
}
.current-page{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    width:75px;
    height: 35px;
    background-color: #717F7B;
    border-style: solid;
    border-color: #467F6E;
    border-width:1px;
    border-radius: 5px;
    border-width:1px;
    pointer-events: none;
}

#button-loc{
    width: 16em;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 5px;
    line-height: 30px;
}
.menu-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    width:75px;
    height: 35px;
    background-color: #467F6E;
    border-style: solid;
    border-color: #467F6E;
    border-width:1px;
    border-radius: 5px;
}
.current-page{
    background-color: #717F7B;
    pointer-events: none;
}
#sign-up-menu{
    width: 90px;
}

#logout-text-container{
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-area: logout;
}

/*Standard page stuff*/
#logo-elements{
    grid-area:logo;
    margin:10px;
}
#logo-element img{
    vertical-align: middle;
}
#header-text{
    grid-area: header-text;
    margin: auto;
    padding: 10px;
}
#Our-Mission-Text{
    grid-area: Our-Mission;
    color:white;
    padding: 10px;
}
#connect-with-us{
    color: white;
    padding: 10px;
    vertical-align: top;
    grid-area: Connect-With-Us;
}

@media only screen and (max-width: 1263px){
    .grid{
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-areas:
        "header-fill-left header header menubar header-fill-right"
        "content content content content content"
        "footer footer footer footer footer";
    }
    #footer{
        grid-template-columns: 1fr 25% 25% 25% 1fr;
    }
}
@media only screen and (max-width:950px){
    .grid{
        grid-template-areas:
        "header header header menubar menubar"
        "content content content content content"
        "footer footer footer footer footer";
    }
    #footer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "Our-Mission . Connect-With-Us" 
    }
}
@media only screen and (max-width:740px){

    .grid{
        display: grid;
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-areas:
        "header header header header header"
        "menubar menubar menubar menubar menubar"
        "content content content content content"
        "footer footer footer footer footer";
    }
    #menubar{
        min-height: 3.5em;
    }

    #header{
        grid-template-columns: 1fr;
        grid-template-areas:
        "header-text";
    }

    #logo-elements{
        display: none;
    }

    #header-text h1{
        margin: 0px;
        margin-top: auto;
        margin-bottom: auto;
    }

    #content{
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-areas:
        "logout";
    }
    
    #footer{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "Our-Mission Connect-With-Us";
    }
}
@media only screen and (max-width:500px){

    #header{
        min-height: 4em;
    }

    #logo-elements{
        display:none;
    }

    #Login-box{
        width: 90%;
    }

    #content{
        min-height: 30em;
    }

    #Our-Mission-Text p{
        font-size: 0.8em !important;
    }
    #connect-with-us h2{
        font-size: 1em !important;
    }
    #connect-with-us a{
        font-size: 0.8em !important;
    }
}