/* Core Elements */
*{
    margin:0px;
    padding:0px;
}
body{
    background-color:#e9ebee;
}
.grid{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 20% 20% 20% 1fr;
    grid-template-rows: 10% 75% 15%;
    grid-template-areas:
    "header-fill-left header header menubar header-fill-right"
    ". content content content ."
    "footer footer footer footer footer";
}

#header{
    background-color: #467F6E;
    grid-area: header;
    display: grid;
    min-height: 7.5em;
    
    color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo header-text"
}

#header-fill-left{
    display:grid;
    background-color: #467F6E;
    grid-area: header-fill-left;
}
#header-fill-right{
    display:grid;
    background-color: #467F6E;
    
    grid-area: header-fill-right;
}

#menubar{
    background-color: #467F6E;
    grid-area: menubar;
    display:grid;
    min-height: 7.5em;
}

#content{
    grid-area: content;
    min-height: 44.5em;
    display: grid;
    
    /*background-color: #D7FFF3;*/
    grid-template-columns: 1fr;
    grid-template-areas:
    "registation";
}

#form-header{
    color:#467F6E;
    font-size: 22pt;
}

#footer{
    background-color: #717F7B;
    grid-area:footer;
    min-height: 7.5em;
    display: grid;
    grid-template-columns: 1fr 20% 20% 20% 1fr;
    grid-template-areas:
    ". Our-Mission . Connect-With-Us .";
}

#button-loc{
    width: 16em;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 5px;
    line-height: 30px;
}
.menu-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    width:75px;
    height: 35px;
    background-color: #467F6E;
    border-style: solid;
    border-color: #467F6E;
    border-width:1px;
    border-radius: 5px;
}
#sign-up-menu{
    width: 90px;
}
.current-page{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    width:75px;
    height: 35px;
    background-color: #717F7B;
    border-style: solid;
    border-color: #467F6E;
    border-width:1px;
    border-radius: 5px;
    border-width:1px;
    pointer-events: none;
}
.center-items{
    vertical-align: center;
}
#logo-elements{
    grid-area:logo;
    padding: 10px;
}
#header-text{
    grid-area: header-text;
    margin: auto;
}
#Our-Mission-Text{
    grid-area: Our-Mission;
    color:white;
    padding: 10px;
}
#connect-with-us{
    color: white;
    padding: 10px;
    vertical-align: top;
    grid-area: Connect-With-Us;
}
/* Page Specific Elements */
#registation{
    grid-area: registation;
    width: 25em;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1em;
}

#create-account h2 {
    color: #467F6E;
    padding: 5px;
}
#create-account p {
    padding: 7px;
}

#create-account fieldset{
    padding: .5em;
    border-radius: 5px;
}
#day{
    width: 5em;
}

#month{
    width: 100px;
}

#sign-up-btn{
    display:block;
    margin-top: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 7px;
    width: 70%;
    font-size: 13pt;
    border-radius: 5px;
    color: white;
    border-color: #467F6E;
    background-color: #467F6E;
}

#other{
    display: none;
    grid-area: other;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2em;
    margin-left: 2em;
}

.error-message{
    display:block;
    color:red;
    visibility: hidden;
}

.input-field{
    padding: 3px;
}
@media only screen and (max-width: 1263px){
    .grid{
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-areas:
        "header-fill-left header header menubar header-fill-right"
        "content content content content content"
        "footer footer footer footer footer";
    }
    #footer{
        grid-template-columns: 1fr 25% 25% 25% 1fr;
    }
}
@media only screen and (max-width:950px){
    .grid{
        grid-template-areas:
        "header header header menubar menubar"
        "content content content content content"
        "footer footer footer footer footer";
    }
    #footer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "Our-Mission . Connect-With-Us" 
    }
}
@media only screen and (max-width:740px){

    .grid{
        grid-template-areas:
        "header header header header header"
        "menubar menubar menubar menubar menubar"
        "content content content content content"
        "footer footer footer footer footer";
    }

    #other{
        font-size: 1em;
    }
    
    #header{
        grid-template-columns: 33% 67%;
        grid-template-areas:
        "logo header-text";
    }

    #menubar{
        min-height: 3.5em;
    }
    
    #content{
        grid-template-columns:1fr;
        grid-template-areas:
        "registation";
    }
    #other{
        display: none;
    }
    #footer{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "Our-Mission Connect-With-Us";
    }
    #connect-with-us{
        margin: 0 auto;
    }

    #header-text{
        margin: 0px;
        margin-top: auto;
        margin-bottom: auto;
    }

    #logo-img{
        content: url("../img/logofinal96x96.png");
        width: 92px;
        height: 92px;
        float: right;
    }
}

@media only screen and (max-width:500px){

    #other{
        margin-bottom: auto;
        margin-top: auto;
        font-size: 1em;
    }
    #header{
        min-height: 4em;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header-text"
    }

    #header-text{
        margin: 0 auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    #logo-elements{
        display: none;
    }
    #registation{
        width: 90%;
    }
    #month{
        width: 30%;
    }
    #day{
        width: 30%;
    }
    #year{
        width: 30%
    }
    .input-field{
        width: 80%;
    }

    #Our-Missing-Text h2{
        font-size: 1em !important;
    }
    #Our-Missing-Text p{
        font-size: 0.5em !important;
    }

}

