/* Core Elements */
*{
    margin:0px;
    padding:0px;
}
body{
    background-color:#e9ebee;
    height: 100vh;
}
.grid{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 20% 20% 20% 1fr;
    grid-template-rows: 10% 10% 65% 15%;
    grid-template-areas:
    "header-fill-left header header menubar header-fill-right"
    "filter-bar filter-bar filter-bar filter-bar filter-bar"
    ". content content content ."
    " footer footer footer footer footer";
}

#header{
    background-color: #467F6E !important;
    grid-area: header;
    display: grid;
    min-height: 15vh;
    
    color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo header-text"
}
#header-fill-left{
    display:grid;
    background-color: #467F6E;
    grid-area: header-fill-left;
}
#header-fill-right{
    display:grid;
    background-color: #467F6E;
    
    grid-area: header-fill-right;
}
#menubar{
    background-color: #467F6E;
    grid-area: menubar;
    display:grid;
    min-height: 15vh;
}

#content{
    grid-area: content;
    min-height: 65vh;
    display: grid;
    
    /*background-color: #D7FFF3;*/
    grid-template-columns: 1fr;
    grid-template-areas:
    "results map"
}

#footer{
    background-color: #717F7B;
    grid-area:footer;
    min-height: 15vh;
    display: grid;
    grid-template-columns:1fr 20% 20% 20% 1fr;
    grid-template-areas:
    ". Our-Mission . Connect-With-Us .";
}

#button-loc{
    width: 16em;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 5px;
    line-height: 30px;
}
#results h2{
    max-height: 1em;
}
.menu-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    width:75px;
    height: 35px;
    background-color: #467F6E;
    border-style: solid;
    border-color: #467F6E;
    border-width:1px;
    border-radius: 5px;
}
#sign-up-menu{
    width: 90px;
}
.current-page{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    width:75px;
    height: 35px;
    background-color: #717F7B;
    border-style: solid;
    border-color: #467F6E;
    border-width:1px;
    border-radius: 5px;
    border-width:1px;
    pointer-events: none;
}
.center-items{
    margin-top: auto;
    margin-bottom: auto;
}
#logo-elements{
    grid-area:logo;
    margin:10px;
}
#header-text{
    grid-area: header-text;
    margin: auto;
}
#Our-Mission-Text{
    grid-area: Our-Mission;
    color:white;
    padding: 10px;
}
#connect-with-us{
    color: white;
    padding: 10px;
    vertical-align: top;
    grid-area: Connect-With-Us;
}
/*filter bars and options*/
#filter-bar{
    /* background-color: #EEECE9; */
    background-color: #C2D0D7;
    /* background-color: #B7B9BB; */
    /* background-color: #BBAEA4; */

    grid-area: filter-bar;
    display: grid;
    min-height: 5vh;
    padding: 1em;
    grid-template-columns:1fr 30% 30% 1fr;
    grid-template-areas:
    ". sortBy filter-location  .";
}

#sortBy{
    margin-top: 5px;
    margin-bottom: 10px;
    display:grid;
    grid-area: sortBy;
}
#filter-location{
    margin-top: 5px;
    margin-bottom: 10px;
    display:grid;
    grid-area : filter-location;
}
.sortByButton{
    height: 30px;
    width: 75px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 10px;
    background-color: #467F6E;
    border-color: #467F6E;
    color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
}
#apply-btn{
    border-radius: 3px;
    color: white;
    background-color: #467F6E;
    border-style: solid;
    border-width: 1px;
    border-color: #467F6E;
    padding:2px;
}

/*content search results*/

#map-sidebar{    
    display:grid;
    grid-area: map-sidebar;
    min-height: 40em;
    display: grid;
}
.center-horizontally{
    margin: 0 auto;
}
.map{
    width: 190px;
    height: 190px;
    display: grid;
    grid-area: map;
}

.location-info{
    display: grid;
    grid-area: location-info;
    min-height:5em;
}

/*list of search results*/
#results{
    grid-area: results;
    display: grid;
    margin: 1em;
}

.item-box{
    border: #38737F;
    border-width: 2px;
    border-spacing: 1em;
    border-style: solid;
    padding: 1em;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
    "map location-info";
}
.wifiName{
    color: #38737F;
}
.wifiName a{
    color: inherit;
}
.rating i{
    color: #70CCB1;
}




@media only screen and (max-width: 1263px){
    .grid{
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-areas:
        "header-fill-left header header menubar header-fill-right"
        "filter-bar filter-bar filter-bar filter-bar filter-bar"
        "content content content content content"
        "footer footer footer footer footer";
    }
    #filter-bar{
        /* background-color: #EEECE9; */
        /* background-color: #C2D0D7; */
        /* background-color: #B7B9BB; */
        /* background-color: #BBAEA4; */
    
        grid-template-columns:1fr 1fr;
        grid-template-areas:
        "sortBy filter-location";
    }
    #footer{
        grid-template-columns: 1fr 25% 25% 25% 1fr;
    }

    
@media only screen and (max-width:950px){
    .grid{
        grid-template-areas:
        "header header header menubar menubar"
        "filter-bar filter-bar filter-bar filter-bar filter-bar"
        "content content content content content"
        "footer footer footer footer footer";
    }
    #footer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "Our-Mission .  Connect-With-Us ";
    }
}
}
@media only screen and (max-width:740px){

    .grid{
        grid-template-areas:
        "header header header header header"
        "menubar menubar menubar menubar menubar"
        "filter-bar filter-bar filter-bar filter-bar filter-bar"
        "content content content content content"
        "footer footer footer footer footer";
    }
    #menubar{
        min-height: 5vh;
    }
    #header{
        min-height: 10vh;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header-text";
    }

    #logo-elements{
        display: none;
    }

    #header-text h1{
        margin: 0px;
        margin-top: auto;
        margin-bottom: auto;
    }

    #filter-bar{
        grid-template-columns:65% 1fr;
    }
    .map{
        width: 150px;
        height: 150px;
    }
    .item-box{
        grid-template-columns: 160px 1fr;
        padding: 0em;
    }

}
@media only screen and (max-width:600px){

    #filter-bar{    
        grid-template-columns:1fr;
        grid-template-areas:
        "sortBy"
        "filter-location";
    }

    #sortBy{
        justify-content: center;
    }
    
    .sortByButton{
        margin-left: 0.15em;
        margin-right: 0.15em;
    }

    .item-box{
        grid-template-columns: 150px 1fr;
    }

    #footer{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "Our-Mission Connect-With-Us ";
    }

    .wifiName{
        font-size: 1.2em;
    }

    .address{
        font-size: 0.9em;
    }

    .location{
        font-size: 0.9em;
    }
    
    .distance{
        font-size: 0.9em;
    }

    #header-text{
       text-align: center;
    }

    #filter-location{
        justify-content: center;
    } 

    #Our-Mission-Text p{
        font-size: 0.8em !important;
    }

    #connect-with-us h2{
        font-size: 1em !important;
    }
    
    #connect-with-us a{
        font-size: 0.8em !important;
    }
}
@media only screen and (max-width:450px){

    #location-text{
        font-size: 1.2em;
    }
    #wifiName{
        font-size: 1em;
    }
    .address{
        font-size: 0.8em;
    }
    .location{
        font-size: 0.8em;
    }
    .distance{
        font-size: 0.8em;
    }
    .item-box{
        grid-template-columns: 100px 1fr;
        border-spacing: 0em;
    }
    .sortByButton{
        height: 30px;
        width: 60px;
    }
    .item-box{
        grid-template-columns: 1fr;
        grid-template-areas:
        "map"
        "location-info";
    }
    .map{
        margin: 0 auto;
        width: 280px;
        height: 150px;
    }
}


